@import domain.Bouteille
@(listeDesBouteilles: Seq[Bouteille])

<!DOCTYPE html>

<html>
    <head>
        <title>Liste des bouteilles de la cave</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/remodal.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/remodal-default-theme.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/remodal.min.js")" type="text/javascript"></script>
    </head>
    <body>

        <h1>Liste des bouteilles de la cave</h1>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Nom du château</th>
                    <th>Millesime</th>
                    <th>Contenance en ml</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody id="liste-bouteilles">
                @for(bouteille <- listeDesBouteilles){
                    <tr id="ligne-bouteille-@bouteille.id">
                        <td><a href="/bouteilles/@bouteille.id">@bouteille.id</a></td>
                        <td>@bouteille.nom</td>
                        <td>@bouteille.nomChateau.getOrElse("-")</td>
                        <td>@bouteille.millesime</td>
                        <td>@bouteille.contenanceEnML</td>
                        <td><a href="javascript:supprimerBouteille(@bouteille.id)">Supprimer</a></td>
                    </tr>
                }
            </tbody>
        </table>

        <br />

        <div class="remodal" data-remodal-id="modal-ajout-bouteille">
            <button data-remodal-action="close" class="remodal-close"></button>
            <h1>Ajouter une nouvelle bouteille</h1>
            <p id="ajout-bouteille-error"></p>
            <form id="form-ajout-bouteille" action="#">
                <p>
                    <label for="form-ajout-bouteille-nom">Nom : </label>
                    <input id="form-ajout-bouteille-nom" type="text" required size="50"/>
                </p>
                <p>
                    <label for="form-ajout-bouteille-nomChateau">Nom du chateau (optionnel) : </label>
                    <input id="form-ajout-bouteille-nomChateau" type="text" size="50" />
                </p>
                <p>
                    <label for="form-ajout-bouteille-millesime">Millésime : </label>
                    <input id="form-ajout-bouteille-millesime" type="text" size="4" maxlength="4" required />
                </p>
                <p>
                    <label for="form-ajout-bouteille-contenance">Contenance (en mL) : </label>
                    <input id="form-ajout-bouteille-contenance" type="text" size="5" maxlength="4" required />
                </p>
                <input type="submit" value="Valider" />
            </form>
            <br>
        </div>

        <a href="#modal-ajout-bouteille">Ajouter une nouvelle bouteille à la cave</a>

        <script type="text/javascript">
            function supprimerBouteille(id){
                if(window.confirm("Etes vous sur de vouloir supprimer la bouteille " + id + " ?")) {
                    $.ajax({
                        type: 'DELETE',
                        url: '/bouteilles/' + id
                    }).done(function () {
                        var ligneSupprimee = $('#ligne-bouteille-' + id);
                        ligneSupprimee.remove();
                    }).fail(function () {
                        alert('Une erreur a ete rencontree lors de la suppression !');
                    });
                }
            }
            $("#form-ajout-bouteille").submit(function (e) {
                e.preventDefault();
                var nom = $('#form-ajout-bouteille-nom').val(),
                        nomChateau = $('#form-ajout-bouteille-nomChateau').val(),
                        millesime = $('#form-ajout-bouteille-millesime').val(),
                        contenance = $('#form-ajout-bouteille-contenance').val();

                if (nom !== "" && millesime !== "" && contenance !== "") {
                    $.ajax({
                        type: 'POST',
                        url: '/bouteilles/ajouter',
                        data: JSON.stringify({
                            "nom": nom,
                            "nomChateau": nomChateau,
                            "millesime": millesime,
                            "contenanceEnMl": contenance
                        }),
                        contentType: 'application/json',
                        dataType: 'json'
                    }).done(function (data) {
                        $('#form-ajout-bouteille').trigger('reset');
                        $("#ajout-bouteille-error").html('');

                        // rafraichir tableau des bouteilles
                        var nomChateauOuVide = "nomChateau" in data ? data.nomChateau : "-";
                        var ligneNouvelleBouteille = '<tr><td><a href="/bouteilles/' + data.id + '">' + data.id + '</a></td><td>' + data.nom + '</td><td>' + nomChateauOuVide + '</td><td>' + data.millesime + '</td><td>' + data.contenanceEnML + '</td><td><a href="javascript:supprimerBouteille(' + data.id + ')">Supprimer</a></td></tr>';
                        $('#liste-bouteilles').append(ligneNouvelleBouteille);

                        $('[data-remodal-id=modal-ajout-bouteille]').remodal().close();
                    }).fail(function (data) {
                        // Les erreurs sont retournées dans un tableau
                        var errorBloc = $("#ajout-bouteille-error");
                        var errors = $.parseJSON(data.responseText);

                        var html = '';
                        Object.keys(errors).forEach(function(champ){
                            html += '<p>' + champ + ' : ' + errors[champ] + '</p>';
                        });
                        errorBloc.html(html);
                        errorBloc.show();
                    });
                }
            });
        </script>
    </body>
</html>
